<div class="row">
  <div class="d-flex">
   <div class="header-area">
    <div class="col-md-5">
      <!-- <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div> -->
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
        <input type="text" pInputText placeholder="Search" />
      </p-iconField>
    </div>
    <div class="col-md-2 mr-5 pt-0">
      <div class="">
        <button  
          class="notification"
          type="button"
          id="notification"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          aria-label="Notifications"
        >
        <i class="bi bi-bell"></i>
      </button>
        <div class="dropdown-menu" aria-labelledby="notification">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="dropdown">
        <button
          class="setting-dropdown"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="/assets/images/profile.jpeg"
            alt="profile"
            class="rounded-circle"
            width="45"
            height="45"
          />
          Johan Eren
          <i class="bi bi-caret-down"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>
