<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">
          <img src="assets/images/logo/hotel-logo.png" alt="" width="150" />
        </a>

        <div class="col-md-6"></div>
        <header></header>
      </mat-toolbar>
      <mat-sidenav-container autosize="true">
        <mat-sidenav
          [mode]="isMobile ? 'over' : 'side'"
          [opened]="isMobile ? 'false' : 'true'"
        >
          <sidebar></sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet />
         
          
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
