<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">
          <img src="assets/images/logo/hotel-logo.png" alt="" width="150" />
        </a>

        <div class="col-md-6"></div>
        <header></header>
      </mat-toolbar>
      <mat-sidenav-container autosize="true">
        <mat-sidenav
          [mode]="isMobile ? 'over' : 'side'"
          [opened]="isMobile ? 'false' : 'true'"
        >
          <sidebar></sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet />
          <div class="col-md-6">
           <div class="row">
            <div class="box-area">
             <div class="m-4">
              <h2>Overview</h2>
              <div class="">
                <div class="col-md-12 bg-white overview-box ">
                  <div class="row">
                    <!-- Check-In Box -->
                    <div class="col-md-3 check-box">
                      <div class="d-flex ">
                        <span class="check-box-i">
                          <i class="bi bi-calendar-check text-white"></i>
                        </span>
                        <h5 class="mt-2">Today's Check-in</h5>
                      </div>
                      <div class="d-flex justify-content-between ml-1 mr-2">
                        <p class="check-box-percentage mt-2">24% <i class="bi bi-arrow-up-right"></i></p>
                        <p class="check-box-number">23</p>
                      </div>
                      <p class="last-7-days">Last 7 Days</p>
                    </div>
                
                    <!-- Check-Out Box -->
                    <div class="col-md-3 checkout-box">
                      <div class="d-flex">
                        <span class="checkout-box-i">
                          <i class="bi bi-calendar-x text-white"></i>
                        </span>
                        <h5 class="mt-2">Today's Check-out</h5>
                      </div>
                      <div class="d-flex justify-content-between ml-1 mr-2">
                        <p class="checkout-box-percentage mt-2">11% <i class="bi bi-arrow-down-right"></i></p>
                        <p class="checkout-box-number">21</p>
                      </div>
                      <p class="last-7-days">Last 7 Days</p>
                    </div>
                
                    <!-- Rooms Available Box -->
                    <div class="col-md-3 rooms-available-box">
                      <div class="d-flex">
                        <span class="rooms-available-box-i">
                          <i class="bi bi-door-open text-white"></i>
                        </span>
                        <h5 class="mt-2">Rooms Available</h5>
                      </div>
                      <div class="d-flex justify-content-between ml-1 mr-2">
                        <p class="rooms-available-box-percentage mt-2">41% <i class="bi bi-arrow-down-right"></i></p>
                        <p class="rooms-available-box-number">25</p>
                      </div>
                      <p class="last-7-days">Last 7 Days</p>
                    </div>
                
                    <!-- Rooms Reserved Box -->
                    <div class="col-md-3 rooms-reserved-box">
                      <div class="d-flex">
                        <span class="rooms-reserved-box-i">
                          <i class="bi bi-calendar-event text-white"></i>
                        </span>
                        <h5 class="mt-2">Rooms Reserved</h5>
                      </div>
                      <div class="d-flex justify-content-between ml-1 mr-2">
                        <p class="rooms-reserved-box-percentage mt-2">59% <i class="bi bi-arrow-up-right"></i></p>
                        <p class="rooms-reserved-box-number">12</p>
                      </div>
                      <p class="last-7-days">Last 7 Days</p>
                    </div>
                  </div>
                </div>
                 
              </div>
              <div class="">
                <div class="card owerview-carousel mt-2">
                  <p-carousel 
                      [value]="images" 
                      [numVisible]="3" 
                      [numScroll]="3" 
                      [circular]="false" 
                      >
                      @for (image of images; track $index) {
                          <ng-template let-product pTemplate="item">
                              <div class="border-1 surface-border border-round m-2 p-3">
                                  <div class="mb-3">
                                      <div class="relative mx-auto">
                                        
                                          <img 
                                          src="{{ image.src }}" 
                                          [alt]="image.alt" 
                                          width="150"
                                          class="w-full border-round" />
                                     
                                          
                                        
                                      </div>
                                  </div>
                              </div>
                              
                          </ng-template>
                        }
                  </p-carousel>
              </div>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="col">

            <div class="row">
              <div class="box-area">
               <div class="m-4">
                <h2>Room Clean</h2>
                <div class="table-responsive">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th scope="col">Room</th>
                          <th scope="col">Status</th>
                          <th scope="col">Task</th>
                          <th scope="col">Assignee</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>#B25</td>
                          <td>Not Allocated</td>
                          <td><span class="badge bg-danger text-white">Dirty</span></td>
                          <td>
                            <div class="d-flex align-items-center">
                              <img src="https://via.placeholder.com/24" class="rounded-circle me-2" alt="Kristin Watson" />
                              Kristin Watson
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>#H29</td>
                          <td>Allocated</td>
                          <td><span class="badge bg-success text-white">Clean</span></td>
                          <td>
                            <div class="d-flex align-items-center">
                              <img src="https://via.placeholder.com/24" class="rounded-circle me-2" alt="Cameron Will" />
                              Cameron Will
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>#B45</td>
                          <td>Not Allocated</td>
                          <td><span class="badge bg-danger text-white">Dirty</span></td>
                          <td>None</td>
                        </tr>
                        <tr>
                          <td>#B08</td>
                          <td>Allocated</td>
                          <td><span class="badge bg-success text-white">Clean</span></td>
                          <td>None</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

               </div>
              </div>
             </div>
          </div>
          <div class="col-md-6">
            <div class="box-area">
              <h1>Guest list</h1>
            </div>
          </div>
          <div class="col-md-4">
            <h1>Quick Action</h1>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
