<h2>Reservation List</h2>
@if (reservations.length) {
<ul>
  @for(reservation of reservations;track reservation.guestName ){
  <li>
    Guest: {{ reservation.guestName }} <br />
    Check-In: {{ reservation.checkInDate }} <br />
    Check-Out: {{ reservation.checkOutDate }} <br />
    Room Number: {{ reservation.roomNumber }} <br />
    <button class="btn btn-primary" (click)="deleteReservation(reservation.id)">Delete</button>
    <button class="btn btn-primary" [routerLink]="['/edit',reservation.id]">Edit </button>
  </li>
  }
</ul>

}@else {
<p>No reservation available.</p>
}
