<div class="text-center my-3">
    <button class="btn btn-primary mx-2" [routerLink]="['/new']" routerLinkActive="router-link-active" >Create a new reversation</button>
    <button  class="btn btn-primary ml-4" [routerLink]="['/list']">View all reversation</button>
</div>
<div class="custom-portal"><ng-container #viewContainer /></div>
<header tuiNavigationHeader>
    <button
        title="Menu"
        tuiIconButton
        tuiNavigationDrawer
        type="button"
        [(open)]="open"
    >
        <tui-data-list>
            <tui-opt-group
                *ngFor="let group of drawer | keyvalue"
                [label]="group.key"
            >
                <button
                    *ngFor="let item of group.value"
                    tuiOption
                    type="button"
                    (click)="open = false"
                    [routerLink]="[item.link]"
                    
                >
                    <i [class]="item.icon" ></i>
                    {{ item.name }}
                </button>
            </tui-opt-group>
            <tui-opt-group>
                <label tuiOption>
                    <input
                        size="s"
                        tuiSwitch
                        type="checkbox"
                        [(ngModel)]="switch"
                    />
                    Dark mode
                </label>
            </tui-opt-group>
        </tui-data-list>
    </button>
    <span tuiNavigationLogo>
        <i class="bi bi-house"></i>
        <span tuiFade>A very very long product name</span>
        <tui-badge>Test</tui-badge>
    </span>
    
    <button
        appearance="secondary-grayscale"
        tuiButton
        tuiChevron
        tuiDropdownOpen
        type="button"
        [tuiDropdown]="products"
    >
   
    <i class="bi bi-list"></i>
        <span tuiFade> A very very long project</span>
        <ng-template #products>
            <tui-data-list size="s">
                <button
                    tuiOption
                    type="button"
                >
                    A very very long project
                    <i class="bi bi-check-lg"></i>
                </button>
                <button
                    tuiOption
                    type="button"
                >
                    Something else
                </button>
            </tui-data-list>
        </ng-template>
    </button>
    <hr />
    <button
        appearance="secondary-grayscale"
      
        tuiButton
        type="button"
    >
        <i class="bi bi-plus-circle"></i>
        Create
    </button>
    <button
        tuiIconButton
        type="button"
    >
    <i class="bi bi-bell"></i>
        Notifications
        <tui-badge-notification />
    </button>
    <button
        tuiIconButton
        type="button"
    >
    <i class="bi bi-three-dots-vertical"></i>
        More
    </button>
    <tui-avatar src="AI" />
</header>
<div [style.display]="'flex'">
    <aside
        [style.height.rem]="47"
        [tuiNavigationAside]="expanded"
    >
        <header>
            <button
                tuiAsideItem
                type="button"
            >
            <i class="bi bi-house"></i>
                <span tuiFade>A very very long product name</span>
            </button>
        </header>
        <button
            tuiAsideItem
            type="button"
        >
        <i class="bi bi-search"></i>
            Search
        </button>
        <a
            tuiAsideItem
        >
        <i class="bi bi-people"></i>
            Groups
        </a>
        <tui-aside-group>
            <button
                automation-id="setting"
                tuiAsideItem
                tuiChevron
                type="button"
            >
            <i class="bi bi-gear"></i>
                Settings
                <ng-template>
                    <button
                        tuiAsideItem
                        type="button"
                    >
                        Account
                    </button>
                    <button
                        tuiAsideItem
                        type="button"
                    >
                        Notifications
                    </button>
                    <button
                        tuiAsideItem
                        type="button"
                    >
                        Privacy
                    </button>
                </ng-template>
            </button>
        </tui-aside-group>
        <button
            automation-id="hint"
            tuiAsideItem
            type="button"
        >
        <i class="bi bi-balloon-heart"></i>
            <span tuiFade>By default ellipsis is used but you can use fade too</span>
        </button>
        <button
            tuiAsideItem
            tuiDropdownHover
            tuiDropdownOpen
            type="button"
            [tuiDropdown]="more"
        >
        <i class="bi bi-chevron-right"></i>
            More
            <ng-template
                #more
                let-close
            >
                <tui-data-list tuiDataListDropdownManager>
                    <button
                        tuiAsideItem
                        type="button"
                    >
                    <i class="bi bi-pencil"></i>
                        Write
                    </button>
                    <button
                        tuiAsideItem
                        type="button"
                        [tuiDropdown]="submenu"
                    >
                    <i class="bi bi-pie-chart"></i>
                        Categories
                        <ng-template #submenu>
                            <tui-data-list>
                                <button
                                    tuiAsideItem
                                    type="button"
                                    (click)="close()"
                                >
                                    Fiction (will close menu)
                                </button>
                                <button
                                    tuiAsideItem
                                    type="button"
                                >
                                    Non-Fiction
                                </button>
                                <button
                                    tuiAsideItem
                                    type="button"
                                >
                                    Children
                                </button>
                            </tui-data-list>
                        </ng-template>
                    </button>
                </tui-data-list>
            </ng-template>
        </button>
        <hr />
        <button
            tuiAsideItem
            type="button"
        >
        <i class="bi bi-plus-circle"></i>
            Add
        </button>
        <footer>
            <button
                tuiAsideItem
                type="button"
            >
            <i class="bi bi-star"></i>
                Favorites
            </button>
            <button
                tuiAsideItem
                type="button"
                (click)="expanded = !expanded"
            >
            <i [class]="expanded ? 'bi bi-chevron-left': 'bi bi-chevron-right'"></i>
                {{ expanded ? 'Collapse' : 'Expand' }}
            </button>
        </footer>
    </aside>
    <main tuiNavigationMain>
        <nav
            tuiNavigationNav
            [style.position]="'sticky'"
        >
            <a routerLink=".">
                <i class="bi bi-chevron-left"></i>
                Back
               

            </a>
            /
            <span tuiNavigationLogo>
                <span tuiFade>Groups</span>
                <tui-badge >
                    <i class="bi bi-alarm"></i>
                    Status</tui-badge>
            </span>
            <hr />
            <tui-tabs tuiFade>
                <button
                    tuiTab
                    type="button"
                >
                    Default view
                </button>
                <button
                    tuiTab
                    type="button"
                >
                    Details
                </button>
                <button
                    tuiTab
                    type="button"
                >
                    Followers
                </button>
            </tui-tabs>
            <button
                appearance="secondary"
                tuiButton
                type="button"
            >
                Secondary
            </button>
            <button
                tuiButton
                type="button"
            >
                Primary
            </button>
        </nav>
        <div
            *tuiRepeatTimes="let index of 2"
            tuiAppearance="floating"
            tuiCardLarge
            tuiHeader
        >
            <h2 tuiTitle>
                Some random content
                <span tuiSubtitle>A subtitle</span>
            </h2>
        </div>
    </main>
</div>
