<mat-nav-list>
    <a mat-list-item>
      <span class="entry" routerLink="*">
        <i class="bi bi-house-door-fill sidebar-i"></i>
        @if(!isCollapsed){
            <span>Home</span>
        }
      </span>
    </a>
    <a mat-list-item routerLink="/new">
        <span class="entry">
          <i class="bi bi-calendar-event-fill sidebar-i"></i>
          @if(!isCollapsed){
              <span>Generate Reservation</span>
          }
        </span>
      </a>
      <a  mat-list-item routerLink="/list">
        <span class="entry">
          <i class="bi bi-calendar-check-fill sidebar-i"></i>
          @if(!isCollapsed){
              <span>Reservation</span>
          }
        </span>
      </a>
      <a mat-list-item routerLink="/">
        <span class="entry">
          <i class="bi bi-people-fill sidebar-i"></i>
          @if(!isCollapsed){
              <span>Guest</span>
          }
        </span>
      </a>
      <a mat-list-item routerLink="/new">
        <span class="entry">
          <i class="bi bi-calendar-event-fill sidebar-i"></i>
          @if(!isCollapsed){
              <span>Generate Reservation</span>
          }
        </span>
      </a>
      <a  mat-list-item routerLink="/list">
        <span class="entry">
          <i class="bi bi-calendar-check-fill sidebar-i"></i>
          @if(!isCollapsed){
              <span>Reservation</span>
          }
        </span>
      </a>
  </mat-nav-list>
