<div class="col">
    <div class="row">
      <div class="box-area">
        <div class="m-4">
          <h2>Room Clean</h2>
          <div class="table-responsive">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th scope="col">Room</th>
                  <th scope="col">Status</th>
                  <th scope="col">Task</th>
                  <th scope="col">Assignee</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#B25</td>
                  <td>Not Allocated</td>
                  <td>
                    <span class="badge bg-danger text-white">Dirty</span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="https://via.placeholder.com/24"
                        class="rounded-circle me-2"
                        alt="Kristin Watson"
                      />
                      Kristin Watson
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#H29</td>
                  <td>Allocated</td>
                  <td>
                    <span class="badge bg-success text-white">Clean</span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                        src="https://via.placeholder.com/24"
                        class="rounded-circle me-2"
                        alt="Cameron Will"
                      />
                      Cameron Will
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>#B45</td>
                  <td>Not Allocated</td>
                  <td>
                    <span class="badge bg-danger text-white">Dirty</span>
                  </td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>#B08</td>
                  <td>Allocated</td>
                  <td>
                    <span class="badge bg-success text-white">Clean</span>
                  </td>
                  <td>None</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
