/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
p {
  font-size: 1.5rem;
}
.dropdown-toggle {
  font-size: 1.5rem !important;
}
.mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
  margin-block: 2.4rem;
  background: transparent !important;
}
.mat-icon {
  color: black;
}
.mat-drawer-content{
  height: 100vh;
}
.mat-toolbar-row, .mat-toolbar-single-row{
  height: auto;
}
.box-area{
  background: rgb(234 234 234) !important;
}
input.p-inputtext.p-component.p-element {
  border-radius: 3rem;
  background: #eeeeee;
  font-size: 1.5rem;
}
span.p-input-icon.pi.pi-search {
  margin-left: .5rem;
  margin-right: .5rem;
}
.notification{
  width: 4rem;
  border-radius: 9rem;
  padding-block: .5rem;
  padding-inline: 1rem;
}